.expanded-video-widget {
    &__wrapper {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #686868c7;
        top: 0; bottom: 0;
        left: 0; right: 0;
        width: 100vw;
        height: 100vh;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }
    
    &__body {    
        display: flex;
        justify-content: space-around;
        height: 100%;
    }

    &__main-container {
        background: black;
        width: 90%;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    &__description {
        flex-basis: 30%;
        height: 100%;
    }

    &__description-items {
        list-style: none;
    }

    &__description-item {
        padding: 10px;
    }

    &__video-container {
        flex-basis: 70%;
        position: relative;
    }

    &__close-button {
        cursor: pointer;
        position: relative;
        border: none;
        background: none;
        color: white;
        font-size: 20px;
    }
}

.opened {
    display: flex;
}

.closed {
    display: none;
}

[data-vimeo-initialized] {
    width: 100%;
    height: 100%;
    & > iframe {
        width: 100%;
        height: 95%;
    }
}