.video-grid {

}

.video-category__list {
    display: flex;
    list-style: none;
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        height: 350px;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid white;
        }
    }
}