.contacts {
    &__header {
        text-align: center;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 3px;
    }

    &__list {
        letter-spacing: 2px;
        list-style: none;
        padding: 40px 10%;
        li {
            font-size: 1.25rem;
            padding-top: 12px;
        }
    }
}