@import '../../../helpers/mixins.scss';
$hover-color: #2196f3;

.header {
    display: flex;
    padding: 0 40px;
    @include generic-padding();
}

.header-menu {
    display: flex;
    list-style: none;
}

.header-menu__item {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 5px;

    &-link {
        padding: 18px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
        background: $hover-color;
        box-shadow: 0 0 10px $hover-color, 0 0 40px $hover-color;
        border: 1px solid 2196f3;
    }
}